#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install scripts
	install -D -m 755 papagaio.py debian/papagaio/usr/bin/papagaio
	install -D -m 755 papagaio-ctl debian/papagaio/usr/bin/papagaio-ctl
	install -D -m 755 install.sh debian/papagaio/usr/share/papagaio/install.sh
	install -D -m 755 uninstall.sh debian/papagaio/usr/share/papagaio/uninstall.sh
	# Install documentation
	install -D -m 644 README.md debian/papagaio/usr/share/doc/papagaio/README.md
	install -D -m 644 CHANGELOG.md debian/papagaio/usr/share/doc/papagaio/CHANGELOG.md
	install -D -m 644 LICENSE debian/papagaio/usr/share/doc/papagaio/LICENSE

override_dh_installsystemd:
	# SystemD service is user-level, handled by install.sh
